<% routine_err_id = "exercise-routine-form-errors" %>
<h1><%= t(".title") %></h1>

<%= form_with model: @routine, url: exercise_routines_path, class: "space-y-4 max-w-lg mb-8" do |f| %>
  <% if exercise_routine_form_errors?(@routine) %>
    <div class="text-red-600 text-sm">
      <ul id="<%= routine_err_id %>" class="list-disc pl-5" role="alert">
        <% @routine.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
        <% @routine.exercise_routine_lines.each do |line| %>
          <% line.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= f.label :name, t(".name_label"), class: "block font-medium mb-1" %>
    <%= f.text_field :name,
          class: "border border-gray-300 rounded p-2 w-full",
          aria: aria_for_field(@routine, :name, routine_err_id) %>
  </div>
  <%= f.fields_for :exercise_routine_lines do |lf| %>
    <div class="space-y-2">
      <%= lf.label :weekday, t(".weekday_label"), class: "block font-medium mb-1" %>
      <%= lf.select :weekday,
            exercise_routine_weekday_options_for_select,
            {},
            {
              class: "border border-gray-300 rounded p-2 w-full",
              aria: aria_for_field(lf.object, :weekday, routine_err_id)
            } %>
      <%= lf.label :label, t(".first_line_label"), class: "block font-medium mb-1" %>
      <%= lf.text_field :label,
            class: "border border-gray-300 rounded p-2 w-full",
            aria: aria_for_field(lf.object, :label, routine_err_id) %>
      <%= lf.hidden_field :position, value: lf.object.position || 0 %>
    </div>
  <% end %>
  <div>
    <%= f.submit t(".create_submit"), class: "bg-blue-600 text-white px-4 py-2 rounded cursor-pointer hover:bg-blue-700 border-0" %>
  </div>
<% end %>

<hr>

<% @routines.each do |routine| %>
  <div id="<%= dom_id(routine) %>">
    <strong><%= routine.name %></strong>
    <%= link_to t(".edit"), edit_exercise_routine_path(routine) %>
    <%= button_to t(".duplicate_submit"), duplicate_exercise_routine_path(routine), method: :post, form: { data: { turbo_confirm: false } } %>
    <%= link_to t(".destroy"), confirm_destroy_exercise_routine_path(routine) %>
  </div>
<% end %>

<p class="mt-6">
  <%= link_to t(".my_day_link"), my_day_path, class: "text-blue-600 underline" %>
</p>
