
<h1><%= t("sessions.index.title") %></h1>

<div id="sessions">
  <% @sessions.each do |session| %>
    <div id="<%= dom_id session %>">
      <p>
        <strong><%= t("sessions.index.device") %>:</strong>
        <%= session_device_label(session) %>
      </p>

      <p>
        <strong><%= t("sessions.index.location") %>:</strong>
        <%= session_location_label(session) %>
      </p>

      <p>
        <strong><%= t("sessions.index.created_at") %>:</strong>
        <%= l(session.created_at.in_time_zone(Current.user.timezone), format: :long) %>
      </p>

    </div>
    <p>
      <%= button_to t("sessions.index.log_out"), session, method: :delete %>
    </p>
  <% end %>
</div>

<br>

<div>
  <%= link_to t("shared.back"), root_path %>
</div>
