<p style="color: green"><%= notice %></p>

<h1><%= t("sessions.index.title") %></h1>

<div id="sessions">
  <% @sessions.each do |session| %>
    <div id="<%= dom_id session %>">
      <p>
        <strong><%= t("sessions.index.user_agent") %>:</strong>
        <%= session.user_agent %>
      </p>

      <p>
        <strong><%= t("sessions.index.ip_address") %>:</strong>
        <%= session.ip_address %>
      </p>

      <p>
        <strong><%= t("sessions.index.created_at") %>:</strong>
        <%= session.created_at %>
      </p>

    </div>
    <p>
      <%= button_to t("sessions.index.log_out"), session, method: :delete %>
    </p>
  <% end %>
</div>

<br>

<div>
  <%= link_to t("shared.back"), root_path %>
</div>
