<% frame_id = dom_id(menu, "slot_#{weekday}_#{meal_type}") %>
<% recipes = menu.user.recipes.order(:name) %>
<% allow_freeform = Current.user.allow_menu_freeform %>

<%= turbo_frame_tag frame_id do %>
  <div
    class="menu-grid__slot"
    data-test="menu-entry-slot"
    data-weekday="<%= weekday %>"
    data-meal-type="<%= meal_type %>"
  >
    <div class="menu-grid__slot-label">
      <%= t("date.day_names")[weekday] %>
    </div>

    <%= form_with model: (entry || MenuEntry.new),
          url: menu_menu_entries_path(menu),
          scope: :menu_entry,
          data: { turbo_frame: frame_id } do |f| %>
      <%= f.hidden_field :weekday, value: weekday %>
      <%= f.hidden_field :meal_type, value: meal_type %>

      <% if entry&.errors&.any? %>
        <ul class="text-red-600 text-sm mb-2 list-disc pl-5">
          <% entry.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      <% end %>

      <div>
        <%= f.label :recipe_id, t("menus.slots.recipe_pick_label") %>
        <%= f.collection_select :recipe_id,
              recipes,
              :id,
              :name,
              { include_blank: t("menus.slots.recipe_blank"), selected: entry&.recipe_id },
              {} %>
      </div>

      <% if allow_freeform %>
        <div>
          <%= f.label :freeform_text, t("menus.slots.freeform_label") %>
          <%= f.text_field :freeform_text, value: entry&.freeform_text %>
        </div>
      <% elsif entry&.freeform_text.present? && entry.recipe_id.blank? %>
        <p class="text-sm text-gray-600 mt-2">
          <%= t("menus.slots.legacy_freeform_hint") %>
          <span class="font-medium"><%= entry.freeform_text %></span>
        </p>
      <% end %>

      <div>
        <%= f.submit t("menus.slots.save_submit") %>
      </div>
    <% end %>

    <div>
      <%= button_to t("menus.slots.clear_submit"),
            clear_menu_menu_entries_path(menu),
            method: :delete,
            params: { weekday: weekday, meal_type: meal_type },
            form: { data: { turbo_frame: frame_id } } %>
    </div>
  </div>
<% end %>
