<% menu_err_id = "menu-new-form-errors" %>


<h1><%= t("menus.index.title") %></h1>

<p class="mb-4">
  <%= link_to t("menus.index.dishes_link"), dishes_path, class: "text-blue-600 underline" %>
</p>

<%= form_with model: @menu, url: menus_path, class: "space-y-3 max-w-lg" do |f| %>
  <% if @menu.errors.any? %>
    <div class="text-red-600 text-sm">
      <ul id="<%= menu_err_id %>" class="list-disc pl-5" role="alert">
        <% @menu.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div>
    <%= f.label :name, t("menus.index.name_label"), class: "block font-medium mb-1" %>
    <%= f.text_field :name,
          class: "border border-gray-300 rounded p-2 w-full",
          aria: aria_for_field(@menu, :name, menu_err_id) %>
  </div>
  <div class="flex items-center gap-2">
    <%= f.check_box :publicly_shareable,
          class: "rounded border-gray-300",
          aria: aria_for_field(@menu, :publicly_shareable, menu_err_id) %>
    <%= f.label :publicly_shareable, t("menus.index.public_share_label"), class: "text-gray-700" %>
  </div>
  <div>
    <%= f.submit t("menus.index.create_submit"),
          class: "bg-blue-600 text-white px-4 py-2 rounded cursor-pointer hover:bg-blue-700 border-0" %>
  </div>
<% end %>

<hr>

<% @menus.each do |menu| %>
  <div id="<%= dom_id(menu) %>">
    <strong><%= menu.name %></strong>
    <%= link_to t("menus.index.edit"), edit_menu_path(menu) %>
  </div>
<% end %>
