<p><%= t("mailers.user_mailer.email_verification.greeting") %></p>

<p><%= t("mailers.user_mailer.email_verification.body", email: @user.email) %></p>

<p><strong><%= t("mailers.user_mailer.email_verification.must_confirm") %></strong></p>

<p><%= link_to t("mailers.user_mailer.email_verification.confirm_link_text"), identity_email_verification_url(sid: @signed_id) %></p>

<hr>

<p><%= t("mailers.user_mailer.email_verification.footer") %></p>
