<p><%= t("mailers.user_mailer.password_reset.greeting") %></p>

<p><%= t("mailers.user_mailer.password_reset.body", email: @user.email) %></p>

<p><%= link_to t("mailers.user_mailer.password_reset.reset_link_text"), edit_identity_password_reset_url(sid: @signed_id) %></p>

<p><%= t("mailers.user_mailer.password_reset.ignore_note") %></p>

<hr>

<p><%= t("mailers.user_mailer.password_reset.footer") %></p>
