
<p><%= t("home.index.signed_as", email: Current.user.email) %></p>

<div>
  <%= link_to t("home.index.my_day"), my_day_path %>
  <%= t("ui.inline_sep") %>
  <%= link_to t("home.index.informes"), informes_path %>
</div>

<div>
  <%= link_to t("home.index.menus"), menus_path %>
  <%= t("ui.inline_sep") %>
  <%= link_to t("home.index.dishes"), dishes_path %>
  <%= t("ui.inline_sep") %>
  <%= link_to t("home.index.exercise_routines"), exercise_routines_path %>
  <%= t("ui.inline_sep") %>
  <%= link_to t("home.index.plans"), plans_path %>
  <%= t("ui.inline_sep") %>
  <%= link_to t("home.index.phase_templates"), user_phases_path %>
  <%= t("ui.inline_sep") %>
  <%= link_to t("home.index.weekly_program"), phase_path %>
  <%= t("ui.inline_sep") %>
  <%= link_to t("home.index.weight_history"), weight_logs_path %>
  <%= t("ui.inline_sep") %>
  <%= link_to t("home.index.log_weight"), new_weight_log_path %>
</div>

<h2><%= t("home.index.login_section_title") %></h2>

<div>
  <%= link_to t("home.index.change_password"), edit_password_path %>
</div>

<div>
  <%= link_to t("home.index.change_email"), edit_identity_email_path %>
</div>

<h2><%= t("home.index.access_history_title") %></h2>

<div>
  <%= link_to t("home.index.devices_sessions"), sessions_path %>
</div>

<br>

<%= button_to t("home.index.log_out"), Current.session, method: :delete %>
