<p style="color: red"><%= alert %></p>

<% if Current.user.verified? %>
  <h1><%= t("identity.emails.edit.change_title") %></h1>
<% else %>
  <h1><%= t("identity.emails.edit.verify_title") %></h1>
  <p><%= t("identity.emails.edit.verify_instructions") %></p>
  <p><%= button_to t("identity.emails.edit.resend_verification"), identity_email_verification_path %></p>
<% end %>

<%= form_with(url: identity_email_path, method: :patch) do |form| %>
  <% if @user.errors.any? %>
    <div style="color: red">
      <h2><%= t("forms.errors.header", count: @user.errors.count, model: @user.model_name.human) %></h2>

      <ul>
        <% @user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :email, t("identity.emails.edit.new_email"), style: "display: block" %>
    <%= form.email_field :email, required: true, autofocus: true %>
  </div>

  <div>
    <%= form.label :password_challenge, t("activerecord.attributes.user.password_challenge"), style: "display: block" %>
    <%= form.password_field :password_challenge, required: true, autocomplete: "current-password" %>
  </div>

  <div>
    <%= form.submit t("shared.save_changes") %>
  </div>
<% end %>

<br>

<div>
  <%= link_to t("shared.back"), root_path %>
</div>
