<% content_for :title, t("public_menus.show.title", name: @menu.name) %>

<h1><%= @menu.name %></h1>

<p><%= t("public_menus.shared.author", id: @menu.user_id) %></p>

<% if Current.user && Current.user.id != @menu.user_id %>
  <%= form_with url: adopt_public_menu_path(@menu), method: :post, local: true do |f| %>
    <p>
      <%= label_tag :name, t("public_menus.adopt.name_label") %>
      <%= text_field_tag :name, params[:name].presence || @menu.name, id: :name, required: true %>
    </p>
    <p><%= f.submit t("public_menus.adopt.submit") %></p>
  <% end %>
<% end %>

<p><%= link_to t("public_menus.show.back_to_catalog"), public_menus_path %></p>
