<% content_for :title, t("public_exercise_routines.show.title", name: @routine.name) %>

<h1><%= @routine.name %></h1>

<p><%= t("public_exercise_routines.shared.author", code: @routine.user.public_catalog_author_code) %></p>

<% if Current.user && Current.user.id != @routine.user_id %>
  <section class="mb-4" aria-label="<%= t("public_exercise_routines.adopt.section_label") %>">
    <%= form_with url: adopt_public_exercise_routine_path(@routine), method: :post, local: true do |f| %>
      <p>
        <%= label_tag "adopt_routine_copy_name", t("public_exercise_routines.adopt.name_label") %>
        <%= text_field_tag :name, params[:name].presence || @routine.name,
              id: "adopt_routine_copy_name",
              required: true,
              aria: { required: true } %>
      </p>
      <p><%= f.submit t("public_exercise_routines.adopt.submit") %></p>
    <% end %>
  </section>
<% end %>

<p><%= link_to t("public_exercise_routines.show.back_to_catalog"), public_exercise_routines_path %></p>
